<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/saveAdmin" method="post">
        Name <br>
        <input type="text" name="admin_name"><br><br> PhoneNumber <br>
        <input type="text" name="admin_phone_number"><br><br>

        <input type="hidden" name="uid" value=<%=uid %> >
        <input type="submit" value="save Admin">
    </form>
</body>

</html>